h1{
 text-align: center;
}

/* 
.current-weather{
    border: 10px;
    border-color: red;
} */

.display-4{
    background: lightslategray;
    color: white;
}

ul{
    list-style: none;
    border: 2px;
    /* border-color: tomato; */
    margin-left: -55px;
}

#searchbtn{
 background: #5ba5df;
 color: white;
 margin-left: 10px;
 float: right;
 margin-top: 10px;

}

.fa fa-search{
    width: 30px;
    height: 30px;
}


#historybox{
    margin-left: 15px;
    margin-top: 15px;
}

.card-header:first-child {
    border-radius: 0;
  }


.daybox{
   /* width: 100%; */
   display:flex;
   justify-content: space-between;
   /* margin: 0; */
}

.daycard{
    background: #5ba5df;
    color: white;
    /* margin-right: 15px; */
    width: 130px;
     
}
.daycard img{
    width:50px;
    height: 50px;
    align-content: center;
}

.savecard{
    height: 50px;
    /* color: white; */
    /* border: 1px #5ba5df; */
    width: 105%;
    align-content: center;
    vertical-align: middle;
}

#search-text{
  width: 80%;
  margin-top: 10px;
}


