h1{
 text-align: center;
}

/* 
.current-weather{
    border: 10px;
    border-color: red;
} */

.display-4{
    background: lightslategray;
    color: white;
}

ul{
    list-style: none;
    border: 2px;
    /* border-color: tomato; */
}

.history{
    border: 2px;
    /* border-color: tomato; */
}

.card-header:first-child {
    border-radius: 0;
  }


.5daybox .card{
    width: 100%;
    background: blue;
}


